body {
  background-color: #EFE8D8;
}

.App {  
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.crypto-container {
  margin-top: 25px;
}

h1, h3, h5, #nav-spec, #nav-spec:hover, #nav-spec:visited {
  color: #E54B4B;
  font-family: 'Roboto Condensed', sans-serif;
}

#nav-spec {
  margin: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
